.ghost-button:hover { display: inline-block;
    width: 200px; padding: 8px;
    background-color: whitesmoke!important; border: 1px solid gainsboro!important; opacity: 90; text-align: center; outline: none; text-decoration: none;
    border-radius: 0px;
}

.ghost-button { display: inline-block;
    width: 200px; padding: 8px;
    color: darkslategrey!important; border: 1px solid #222222; opacity: 50; text-align: center; outline: none; text-decoration: none;
    border-radius: 0px;
}
